.gwcjs{
	width: 100%;
	height: 100%;
	border-top:2px solid #71B320;
	padding-left: 72px;
	box-sizing: border-box;	
	margin-bottom: 20px;
}
.gwcjs::after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.gwcjsgd{
	width: 1190px;
	/*height: 1000px;*/
}
.gwc_bt{
	width: 1190px;
	height: 37px;
	margin: 20px 0px;
	color: #666;
	line-height: 37px;
	font-size: 24px;
}
.gwcxx{
	background-color: #ccc;
	width: 330px;
	height: 30px;
	padding:0px 10px;
	color: #8c8c8c;
}
.gwcxx:first-child{
	background-color: #9c0;
	color: #fff;
}
.step_icon{
	width: 95px;
	height: 30px;
}
.gwcdd{
	color: #8c8c8c;
}
/*car_content*/
.car_content{
	margin-top:20px;
	width: 1190px;
}
.car_selected{
	font-size: 16px;
    font-weight: 400;
    color: #666;
    padding-left: 10px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}
.cart_main{
	 width:1190px;
	 border: 1px solid #e6e6e6;
	 border-spacing: 0;
	 border-collapse: collapse;
	 color: #666;
}
.cart_main_head{
	width: 100%;
	background: #efefef;
	vertical-align: middle;
	
}
.cart_main_head tr{
	height: 37px;
	line-height: 37px;
	font-size: 14px;
	color: #666;
	text-align: center;
}
.product_lj{
	color: #666;
}
.cart_main_body{
	font-size: 12px;
	color: #666;
}
.cart_main_body tr{
	height: 105px;
	border-bottom: 1px solid #ddd;
	padding-top: 15px;
	text-align: center;
}
.product_gwcqd_img img{
	width: 80px;
	height: 80px;
	display: inline-block;
	border: 1px solid #eee;
}
.cart_main_body tr .product_gwcxx{
	text-align: left;
}
.product_lj{
	float: left;
	width: 100%;
	height: 16px;
	line-height: 16px;
	margin-bottom: 5px;
}
.product_lb{
	/*display: block;*/
	font-size: 14px;
	background: #efefef;
	/*float: left;*/
    padding: 0 6px;
    line-height: 20px;
    height: 20px;
}
.count_yunsuan{
	border:1px solid #ccc;
	display: inline-block;
}
.btn_decrease{
	width: 22px;
    height: 23px;
    display: inline-block;
    line-height: 23px;
    overflow: hidden;
    color: #333;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    float: left;
}
.count{
	width: 30px;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    float: left;
    text-align: center;
    outline: none;
    border:0;
}
.btn_increase{
	width: 22px;
    height: 23px;
    display: inline-block;
    line-height: 23px;
    overflow: hidden;
    color: #333;
    vertical-align: middle;
    border-left: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    float: left;
}
.price_money_xj{
	color: red;
}
.product_gwc_sc{
	color: #026eb7;
}
.product_gwc_deleate{
	color: #026eb7;
}
/*tfoot*/

.gwc_money_tr{
	padding-top:15px;
	padding-bottom:15px;
	width: 100%;
	/*height: 96px;*/
}
.gwc_label{
	width: 200px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: right;
	font-size: 14px;
	/*float: left;*/
}
.AllMoney{
	text-align: center;
	/*height: 96px;*/
}
.gwc_jf{
	font-size: 12px;
}

.product_gwc_price{
	color: red;
}
.gwc_youhui{
	display: none;
	height: 30px;
	line-height: 30px;
}
.All_MONEY_LI{
	height: 36px;
}
.ALL_Count_Money b{
	font: 24px/1.5;
	color: #fe2000;
}

.gwc_jiesuan_tr{
	background-color: #efefef;
	width: 1160px;
	height: 62px;
	/*padding :0px 15px;*/
}
.clear_gwc{
	outline: none;
	background: #fff;
	border: 1px solid #ccc;
	margin-left: 20px;
	margin-right: 10px;
}
.clear_gwc span{
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding:0px 6px;
}
.coudan_gwc{
	outline: none;
	background: #f89416;
	border: 1px solid #ccc;

}
.coudan_gwc span{
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding:0px 6px;
	color: #fff;
}
.jiesuan_Money{
	text-align: right;
	padding-right: 20px;
}
.ret_goBuy{
	font-size: 12px;
	color: #666;
	text-decoration:underline;
}
.btn_jiesuan{
	padding:0px 30px;
	height: 40px;
	line-height: 40px;
	background: #e2232c;
	outline: none;
	border: 0;
	color: #fff;
}
/*view_history*/
.view_history{
	width: 1190px;
	border: 1px solid #ddd;
	margin-top: 10px;
}
.view_product_gwc{
	width: 1160px;
	background-color:#efefef;
	color: #666;
	line-height: 37px;
    font-size: 14px;
    padding: 0 15px;
}
.view_content{
	width: 1150px;
	padding:10px 20px;
}

.view_content::after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.view_pro_Li{
	width: 206px;
	display: block;
	float: left;
	margin-right: 15px;
  /*  padding:10px 15px;*/
}
.view_pro_img img{
	width: 96px;
	height: 96px;
	display: inline-block;
	float: left;
	border: 1px solid #eee;
}
.view_pro_xq{
	width: 101px;
	height: 98px;
	float: left;
	margin-left: 5px;
}
.view_pro_xq h3{
	line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.view_pro_xq h3 a{
	font-size: 12px;
	color: #333;	
	     
}
.view_pro_price{
	line-height: 33px;
    color: #fe2000;  
    display: inline-block; 
}
.view_pro_liBuy{
	display: block;
    text-align: center;
    background: #fc5910; 
    color: #fff;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding:0 15px;
}

