@charset "utf-8";
/* CSS Document */

/*通用*/
body,div,p,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,th,form,hr,input,textarea{
	margin:0;
	padding:0;
   }
	
body{
	font-family:"微软雅黑"，Arial;
    width: 1200px;
	}

a{
	outline: none;
	text-decoration:none;
}
img{
	border:none;
}
ul,ol{
	list-style:none;
	}
h3,h4{
	font-weight: normal;
}
input{ 
    outline:none; 
}
em,i{
    font-style: normal;
}
